/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-basic), sans-serif;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  padding: 100px 0px;
  gap: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  border: 2px solid #000;
  inline-size: 100%;
}

.container {
  max-inline-size: 700px;
  margin: auto;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 136px;
  gap: 20px;
}

.header-logo {
  font-family: var(--font-acent);
  color: var(--acent-color);
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  line-height: 65px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-title {
  font-family: var(--font-acent);
  color: var(--acent-color);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
}

.theme-menu {
  padding-block-end: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 23px;
  gap: 9px;
}

.theme-menu__button {
  position: relative;
  font-family: var(--font-acent);
  font-size: 14px;
  color: var(--acent-color);
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.theme-menu__button:disabled {
  position: relative;
  pointer-events: none;
}
.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -12px;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(4px);
  }
}

.theme-menu__button:focus {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled,
.theme-menu__button:hover {
  opacity: 0.6;
}

.card {
}

.card-list {
  border: 2px solid #000;
  background-color: #fff;
}

.card-title {
  font-family: var(--font-basic);
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  padding-inline-start: 10px;
  padding-block: 5px 4px;
}
.card_content-image {
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
}

.content-image {
  inline-size: 100%;
  block-size: 100%;
  display: block;
}

.card_content-box {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card-text {
  font-family: var(--font-basic);
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.card-button {
  display: flex;
  justify-content: flex-end;
}

.button-like {
  background-color: transparent;
  border: 2px solid #000;
  inline-size: 130px;
  block-size: 38px;
  cursor: pointer;
}

.button-like_text {
  font-family: var(--font-acent);
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
}
